# Dependencies
node_modules/
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
out/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.suo
*.user

# Logs
*.log
npm-debug.log*

# Temp files
*.tmp
*.temp

# Local Code Signing Certificates
fieldvision_test.pfx
fieldvision_test.cer

# Video folder (local testing)
videos/

# Python & AI weights
__pycache__/
*.pyc
*.pt
fix.js

